<footer class="page-footer orange">
	<div class="container">
		Book data source Google finance.
		<p>BookSwap is considered the most active book swap site. With our simple and free book swap process, we make swapping of books online enjoyable.</p>
	</div>
	<div class="footer-copyright">
	  <div class="container">
	  Made by <a class="orange-text text-lighten-3" href="/">BookSwap Software</a> | © Copyright 2017. All rights reserved.
	  <a class="white-text text-lighten-4 right" href="https://github.com/roxroy/camper-bookswap"> <i class="fa fa-github" aria-hidden="true"></i> Project code</a>

	  </div>
	</div>
</footer>